.container {
    max-width: 1140px;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    background: #000000;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
}


.navbar {
    position: relative;
}
.navbar > .container, .navbar > .container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.navbar-dark .navbar-brand {
    color: #fff;
}
.navbar-brand {
    font-weight: 900;
    font-size: 24px;
    font-style: normal;
}
.navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
    list-style: none;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}
.navbar-expand-lg .navbar-toggler {
    display: none;
}
.navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    /* display: flex !important; */
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.nav-link {
    display: block;
}
.ftco-navbar-light .container {
    width: 1110px;
    margin: 0 auto;
    padding: 0;
}
.ftco-navbar-light.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}
.ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #000000 !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 0 15px;
}
.ftco-navbar-light {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 16px;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    font-weight: 400;
    opacity: 1 !important;
    text-decoration: none;
}


.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}
.ftco-navbar-light .navbar-brand {
    color: #fff;
    padding-top: .7rem;
    padding-bottom: .7rem;
    text-decoration: none;
}
.oi {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

.oi:empty:before {
    width: 1em;
    text-align: center;
    box-sizing: content-box;
}
.oi-menu:before {
    content: '\e09b';
}
.ftco-navbar-light .navbar-nav > .nav-item .nav-link:active span:before {
    visibility: visible;
    transform: scaleX(1);
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link span {
    position: relative;
    display: block;
    padding-bottom: 2px;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #ffbd39;
    visibility: visible;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.ftco-navbar-light .navbar-nav > .nav-item .nav-link.active {
    background: none !important;
    color: #ffbd39 !important;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel.home-slider {
    position: relative;
    height: 750px;
    z-index: 0;
}
.owl-carousel.home-slider .slider-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    opacity: 0;
}
.owl-carousel.home-slider .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
    position: relative;
    z-index: 0;
}
.owl-carousel.home-slider .slider-item .slider-text {
    height: 750px;
    z-index: 0;
}

.owl-carousel.home-slider .slider-item .slider-text .one-third {
    width: 40%;
    position: relative;
    z-index: -1;
    height: 500px;
}

.owl-carousel.home-slider .slider-item .slider-text .text {
    position: relative;
    z-index: 1;
}
.owl-carousel.home-slider .slider-item .slider-text .one-forth .text {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    max-width: 50%;
    padding-left: 9%;
    padding-right: 3em;
    width: 100%;
}
.owl-carousel.home-slider .slider-item .slider-text .subheading {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffbd39;
}
.owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 60px;
    color: #fff;
    line-height: 1.2;
    font-weight: 800;
}
.owl-carousel.home-slider .slider-item .slider-text h1 span {
    font-weight: 800;
    color: #ffbd39;
}
.owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 60px;
    color: #fff;
    line-height: 1.2;
    font-weight: 800;
}
.owl-carousel.home-slider .owl-nav {
    position: absolute;
    bottom: 60px !important;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.owl-carousel.home-slider .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    width: 100%;
}
#typing-animation {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(20, end) infinite;
}
.btn {
    cursor: pointer;
    border-radius: 40px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
.btn.btn-primary {
    background: #ffbd39;
    border: 1px solid #ffbd39 !important;
    color: #000000 !important;
}
.pl-4, .px-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.row.abb {
    margin-left: 0;
}
button#gitbtn {
    padding: 15px 20px !important;
}
.pb-3, .py-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.btn.btn-white.btn-outline-white {
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    background: transparent !important;
    color: #fff !important;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}
.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-touch-callout: none;
}
.owl-carousel .owl-item {
    opacity: .4;
}

.owl-carousel .owl-item.active {
    opacity: 1;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.align-items-end {
    display: flex;
    align-items: flex-end !important;
}
.justify-content-end {
    display: flex;
    justify-content: flex-end !important;
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.ftco-section {
    padding: 7em 0;
    position: relative;
}
.rounded {
    border-radius: 0.25rem !important;
    width: 80%;
}
.col-md-6.col-lg-5.d-flex {
    width: 50%;
}
.col-sm-6.col-md-5{
    width: 30%;
}
.ftco-no-pb {
    padding-bottom: 0 !important;
}
.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}
.d-flex {
    display: flex !important;
}
.intro{
    margin-top: 0;
}
.ftco-about .img-about {
    width: 70%;
    z-index: 0;
    position: relative;
}
.skill-mf .progress {
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem;
    border-radius: 0;
    height: 0.7rem;
}
.progress {
    height: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #1a1a1a;
    overflow: visible;
    display: flex;
    font-size: 0.75rem;
}
.pb-5, .py-5 {
    padding-bottom: 3rem !important;
    width: 50%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.skill-mf .progress .progress-bar {
    height: 0.7rem;
    background-color: #ffbd39;
}
.progress-bar {
    background: #ffbd39;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    line-height: 1.2;
    color: #000000;
    font-weight: 600;
    position: relative;
    overflow: visible;
    border-radius: 2px;
    width: 99% !important;
}
.heading-section h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin-top: 0;
}
.heading-section h1.big {
    position: absolute;
    top: 0px;
    margin: 0;
    left: 0;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-weight: 900;
}
.heading-section {
    position: relative;
}
.fadeInUp {
    animation-name: fadeInUp;
}
.ftco-animated {
    animation-duration: .5s;
    animation-fill-mode: both;
}
.ftco-about ul.about-info li {
    list-style: none;
    margin-bottom: 10px;
}
.ftco-about ul.about-info li span:first-child {
    font-weight: 600;
    color: #fff;
    width: 130px;
}
ul.about-info.mt-4.px-md-0.px-2{
    padding: 0;
}
.ftco-about ul.about-info li span {
    width: calc(100% - 130px);
}
.justify-content-center {
    justify-content: center !important;
    width: 100%;
}
.text-center {
    text-align: center !important;
}
.heading-section h1.big.big-2 {
    right: 0;
    left: -40px;
}
.big-4 {
    font-size: 42px;
    margin: 0 auto;
    transform: scaleX(1.2);
    line-height: 1.5;
    color: white;
    font-weight: 400;
}
.underline {
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(244, 244, 125) 20%, rgb(238, 238, 36) 50%, #ffbd39 100%);
    margin-top: 5px;
    opacity: 50%;
}
.resume-wrap {
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 30px;
}
.study{
    width: 100%;
    text-align: center;
}
.resume-wrap .date {
    font-weight: 900;
    font-size: 26px;
    color: #ffbd39;
}
.resume-wrap h2 {
    font-size: 26px;
}
.resume-wrap .position {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.ftco-hireme.img.margin-top{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 20px;
}
.ftco-hireme h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}
.ftco-hireme h4{
    line-height: 1.5;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
}
.text-head{
    max-width: 58%;
    padding-top: 80px;
}
.px-5{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.row.justify-content-center.resume.mt-5{
    position: absolute;
}
.contact-section .box {
    width: 100%;
    display: block;
    border-radius: 4px;
}
.contact-section .box .icon {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    margin-bottom: 2em;
    border-radius: 50%;
}
.contact-section .box h3 {
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}
.contact-section .box .icon span {
    color: #ffbd39;
    font-size: 30px;
    padding: 30px;
}
.col-md-6.col-lg-3.d-flex.ftco-animate {
    width: 25%;
}

.contact-section .contact-info p a {
    color: #fff;
    text-decoration: none;
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

